apiVersion: apps/v1
kind: Deployment
metadata:
  name: santa-article
spec:
  replicas: 2
  selector:
    matchLabels:
      app: santa-article
  template:
    metadata:
      labels:
        app: santa-article
    spec:
      containers:
        - name: article-container
          image: santalog/santa-article:latest
          ports:
            - containerPort: 8081
          envFrom:
            - configMapRef:
                name: article-config
            - secretRef:
                name: article-secret
          env:
            - name: IMG_PATH
              value: "https://santalog-s3.s3.ap-northeast-2.amazonaws.com/img/"
