apiVersion: apps/v1
kind: Deployment
metadata:
  name: santa-article
spec:
  replicas: 2
  selector:
    matchLabels:
      app: santa-article
  template:
    metadata:
      labels:
        app: santa-article
    spec:
      containers:
        - name: article-container
          image: santalog/santa-article:latest
          ports:
            - containerPort: 8081
          resources:
            requests:
              cpu: "100m"      # HPA 계산의 기준점 (0.1 CPU)
              memory: "256Mi"
            limits:
              cpu: "500m"      # 최대 사용 제한
              memory: "512Mi"
          # ------------------------------------------
          envFrom:
            - configMapRef:
                name: article-config
            - secretRef:
                name: article-secret
          env:
            - name: IMG_PATH
              value: "https://santalog-s3.s3.ap-northeast-2.amazonaws.com/img/"