cloud:
  aws:
    credentials:
      access-key: ${AWS_ACCESS_KEY_ID}
      secret-key: ${AWS_SECRET_ACCESS_KEY}
    region:
      static: ap-northeast-2
    s3:
      bucket: santalog-s3
    stack:
      auto: false

server:
  port: 8081
  forward-headers-strategy: native
spring:
  thymeleaf:
    cache: false

  security:
    oauth2:
      client:
        registration:
          google:
            client-id: ${GOOGLE_CLIENT_ID}
            client-secret: ${GOOGLE_CLIENT_SECRET}
            scope:
              - email
              - profile
            redirect-uri: "http://santalog.cloud:31000/login/oauth2/code/google"

  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 50MB

  datasource:
    url: jdbc:mariadb://${ARTICLE_DB_HOST}:${ARTICLE_DB_PORT}/article_db
    username: ${ARTICLE_DB_USERNAME}
    password: ${ARTICLE_DB_PASSWORD}
    driver-class-name: org.mariadb.jdbc.Driver

  data:
    redis:
      password: ${REDIS_PASSWORD}
      sentinel:
        master: ${REDIS_MASTER_NAME}
        nodes:
          - ${REDIS_NODE1}
          - ${REDIS_NODE2}
          - ${REDIS_NODE3}
          - ${REDIS_NODE4}
      lettuce:
        pool:
          max-active: 10      # 동시에 사용할 수 있는 최대 커넥션 수
          max-idle: 10        # 대기 상태로 유지할 최대 커넥션 수
          min-idle: 2         # 최소한으로 유지할 대기 커넥션 수
          max-wait: 2000ms    # 커넥션을 가져오기 위해 대기하는 최대 시간

  jpa:
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.MariaDBDialect

jwt:
  issuer: ${JWT_ISSUER}
  secret_key: ${JWT_SECRET_KEY}

auth:
  service:
    url: http://santalog.cloud/auth