upload:
  path: ${IMG_PATH}

server:
  port: 8081

spring:
  thymeleaf:
    cache: false
  security:
    oauth2:
      client:
        registration:
          google:
            client-id: ${GOOGLE_CLIENT_ID}
            client-secret: ${GOOGLE_CLIENT_SECRET}
            scope:
              - email
              - profile
  servlet:
    multipart:
      max-file-size: 10MB # 파일 하나의 최대 용량
      max-request-size: 50MB

  datasource:
    url: jdbc:mariadb://localhost:3307/article_db
    username: root        # MariaDB root 계정
    password:
    driver-class-name: org.mariadb.jdbc.Driver

  jpa:
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        ddl-auto: update


jwt:
  issuer: ajufresh@gmail.com
  secret_key: study-springboot

