apiVersion: apps/v1
kind: Deployment
metadata:
  name: santa-auth
spec:
  replicas: 2
  selector:
    matchLabels:
      app: santa-auth
  template:
    metadata:
      labels:
        app: santa-auth
    spec:
      containers:
        - name: auth-container
          image: santalog/santa-auth:latest
          ports:
            - containerPort: 8080
          envFrom:
            - configMapRef:
                name: auth-config
            - secretRef:
                name: auth-secret
