server:
  port: 8080
  forward-headers-strategy: native
  tomcat:
    remote-ip-header: x-forwarded-for
    protocol-header: x-forwarded-proto
    use-relative-redirects: true
  servlet:
    session:
      cookie:
        same-site: none
        secure: true
        http-only: true

spring:
  thymeleaf:
    cache: false

  # OAuth2 설정
  security:
    oauth2:
      client:
        registration:
          google:
            client-id: ${GOOGLE_CLIENT_ID}
            client-secret: ${GOOGLE_CLIENT_SECRET}
            redirect-uri: "https://santalog.cloud:31443/login/oauth2/code/google"
            scope:
              - email
              - profile

  # MariaDB 설정 (Auth DB 전용 변수 매핑)
  datasource:
    hikari:
      connection-test-query: SELECT 1
      test-on-borrow: true
      max-lifetime: 1800000
      maximum-pool-size: 10
      minimum-idle: 2
      connection-timeout: 3000

    url: jdbc:mariadb://${AUTH_DB_HOST}:${AUTH_DB_PORT}/auth_db
    username: ${AUTH_DB_USERNAME}
    password: ${AUTH_DB_PASSWORD}
    driver-class-name: org.mariadb.jdbc.Driver

  # Redis Sentinel 설정
  data:
    redis:
      password: ${REDIS_PASSWORD}
      sentinel:
        master: ${REDIS_MASTER_NAME}
        nodes: ${SPRING_DATA_REDIS_SENTINEL_NODES}

  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.MariaDBDialect

jwt:
  issuer: ${JWT_ISSUER}
  secret_key: ${JWT_SECRET_KEY}